:root{
    --blue1: #000324;
    --blue2: #E5FEFF;
    --blue3: #1A1B26;
    --blue4: #004CC7;
    --blue5: #1F51A8;
    --blue7: #006EDB;
    --blue8: #000DC7;
    --lightpurple: ##EBEDFC;
    --darkerlightpurple: #7A90D9;
    --white: #FFFFFF;
}

*{
    font: Dosis;
    color: var(--blue3);
}

p{
    font-size: 15px;
    font-weight:lighter;
    /* text-align: left; */
    font: Source Sans Pro;
letter-spacing: 0px;
color: #1A1B26;
}



.header-bg{

    background: var(--blue1);


}
.header-nav{
   font:Dosis;
    letter-spacing: 0px;
    font-weight: 26px;
    color: #FFFFFF;
    opacity: 1;
    display: flex;
    justify-content: center;


}
.header-nav a{
    color: white;
    font: Dosis;
    
   
}
.header-nav a:hover{
  color: white;
}
.header-nav img{
  width:100px;
}
.active-nav{
    border: 2px solid var(--blue2);
opacity: 1;
}
.pool-header{
  background-image: url('../hotelMarkupAssets/header.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 50%;

}


.headerimg-crop {
    width: 100%; 
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
    border:0px;
  }
  
  .headerimg-crop img {
    position: absolute;
    top: -382px;   
    left:0px; 
    width: 100%;
    height: auto;
  }

  /*blue run on the wheel header*/

  .header-container{

width: 60%;
height: auto;
    background-color: var(--blue1);
    opacity: 0.8;
    padding-top:20px;
    padding-bottom:20px;
    }
  

  .header-container h1{
    color:var(--blue2);
    font-size: 45px;
    line-height: 57px;
    font-weight:lighter;
  }

  .header-container p{
 
    color: var(--blue2);
  }

  /* end blue run on the wheel header*/

 
  /*hamsters paradise section*/
  .hamsterhome-crop {
    width: 369px;
    height: 416px;
    overflow: hidden;
    position: relative;
  }
  
  .hamsterhome-crop img {
    position: absolute;
    top: -70px;   
    left: -20px;  
    width: 369px; 
    height: auto;
  }
  
  h5{
    text-align: left;
   font-size: 35px;
   line-height: 44px;
letter-spacing: 0px;
opacity: 1;
font-weight:lighter;

  }

  .awards{

    width: 100%;
    align-items: end;
 }
 .awards img{
   width: 150px;   
   margin-right: 1rem;
 }


/*end hamsters paradise  section*/
 
/*Room section*/
  .blue-container{
    background-color: var(--blue1);
    opacity: 1;
    background: transparent url('../hotelMarkupAssets/bg2.jpg') ;
    padding:100px;
    width: 100%;
    height: auto;

  
  }


  .room-container li{
    font-weight: lighter;

  }

  .reserve-button{

      padding-top: 0.5rem;
      padding-left: .5rem;
      font-size: 15px;
       width: 100px; 
       
                      
                    
  }
  .reserve-button-margin{
    margin:16px;
  }

  .room-header
  {
    font-size: 20px;
  }
/* 
.card {
  display: flex;
  align-items: end;
} */

  /* end room section*/

  /* Start Packages*/

  .card-body{
    display:flex;
    flex-direction: column;
  }

  .packages img{
    width: 100%;
    height: 234px;
  }


  .packages-bluetxt{
    color: var(--blue5);
  }
  /*end packages*/


  /*Amenities*/

  .amenities-blue-container{

    background:  url('../hotelMarkupAssets/bg.jpg') ;
    padding:5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 50%;
    
  
  }
  .amenities-blue-container  h5{
    color: white;
  }
  .amenities-blue-container  p{
  color: white;
  /* display: flex; */
  }
  .amenities-icon{

    width: auto;
  }
  /*end of amenities*/

  /*start reserve*/
.reserve{
  width: 70%;
  padding:0%;
}
.reserve h5{
  color: white;
}


.reserve p{
  color: white;
  display:flex;
}

.reserve img{
 height:400px;
 object-fit: cover;
 object-position: 50% 55%;
 
}
  /* end reserve*/
  /*footer*/
  .footer img{
    width: 200px;;
  }
  .footer p{
    color: white;
  }
  /*end of footer*/
  @media (max-width: 576px) {
    .hide-img {
      display: none;
    }
  
  }

  @media(max-width:820px){
    .hide-logo {
      display: none
      
    }


  }